## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
file_path = os.path.join('..', "Vacation_Search/WeatherPy_vacation.csv")
vacation_df = pd.read_csv(file_path)
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Salalah,OM,86.09,few clouds,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
1,8,Komsomolskiy,UZ,92.12,scattered clouds,40.4272,71.7189,Ikathouse
2,53,Bargarh,IN,94.91,scattered clouds,21.3333,83.6167,HOTEL VD PALACE
3,64,Terra Santa,BR,86.90,scattered clouds,-2.1042,-56.4869,Hotel Sarah
4,75,Touros,BR,85.10,clear sky,-5.1989,-35.4608,INN NEW HORIZON

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Ilorin']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Ilorin']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Lucapa']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Nsanje'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Berbera']

In [48]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.loc[:,['Lat', 'Lng']].to_numpy()[0]
end = vacation_end.loc[:,['Lat', 'Lng']].to_numpy()[0]
stop1 = vacation_stop1.loc[:,['Lat', 'Lng']].to_numpy()[0]
stop2 = vacation_stop2.loc[:,['Lat', 'Lng']].to_numpy()[0]
stop3 = vacation_stop3.loc[:,['Lat', 'Lng']].to_numpy()[0]

In [49]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
start = start
end = end

waypoints = [stop1, stop2, stop3]
directions = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='DRIVING')
fig.add_layer(directions)

fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,373,Ilorin,NG,88.16,few clouds,8.5000,4.5500,Ayala Suite Annex
1,358,Lucapa,AO,87.91,broken clouds,-8.4192,20.7447,Residência Ulisses Dos Santos
2,142,Nsanje,MW,85.37,broken clouds,-16.9200,35.2620,Nsanje Discovery Lodge
3,630,Berbera,SO,90.46,few clouds,10.4396,45.0143,IBCO REAL ESTATE PROPERTY

In [52]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [53]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))